<div class="message">
  <p>Este é o app da Equipe 2! 😀</p>
</div>
<div class="forms">
  <div class="cardFormPiada">
    <form action="/api/piadas">
      Quero ver uma piada
      <button type="submit" class="btn btn-secondary"><span class="material-symbols-outlined">
          arrow_forward_ios
        </span></button>
    </form>
  </div>
  <div class="cardFormAtividade">
    <form action="/api/atividades">
      Quero ver uma atividade
      <button type="submit" class="btn btn-secondary"><span class="material-symbols-outlined">
          arrow_forward_ios
        </span></button>
    </form>
  </div>
</div>